<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Assignee à</th>
        <th>titre</th>
        <th>status</th>
        <th>sous ticket</th>
        <th>priorite</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="table-composed-tickets">
      <div id="projectMembers" data-members="<%= JSON.stringify(oneProject.members) %>" style="display: none;"></div>
      <% tickets.forEach((ticket,index) => { %>
         <%- include('./oneComposedTicket.ejs',{oneComposedTicket:ticket}) %>
      <%})%>
    </tbody>
</table>
<div data-tickets="<%= JSON.stringify(tickets) %>" id="composed-tickets" ></div>

